################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/x64/Debug
/obj
/.vs
/bin/x64/Debug27_04.rar
/bin/x64/Debug.rar
